*{
  margin: 0;
  padding: 0;

}


body{

}
/*
canvas{
  grid-column: 2;
  grid-row: 2;
  border: 5px solid;

  /* background: url('css/Free-Pixel-Art-Hill/PREVIEWS/full.png'); */
/* ] */

.buffer{
  width: 20px;
  height: 220px;

}

.roundBoi{
  border: 5px solid;
  width: 80vw;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.game{
  position: relative;
  height: 40px;
  background-color: black;
  /* overflow: hidden; */
}



.mainBoi{
  position: relative;
  overflow: hidden;
  background: red;
  left: 50px;
  top: 200px;
  /* margin-left: 40px; */
  height: 24px;
  width: 24px;
  transform: scale(3);

  /* zoom: 4; */
}

.animate{
    animation: jump .6s;
}

.spriteBoi{
  animation: moveSpritesheet 1s steps(6) infinite;

}

.badBoi{
  position: relative;
  top: 170px;
  left: 750px;
  background: green;
  height: 48px;
  width: 48px;
  animation: slide 1.25s infinite linear;
  z-index: 6;
}

.groundGame{
  position: relative;
  height: 75px;
  width: 80vw;
  top: 155px;
  left: 0px;
  background: orange;
  z-index: -1;
}

@keyframes moveSpritesheet {
   from {
      transform: translate3d(0px,0,0)
   }
   to {
      transform: translate3d(-100%,0,0)
   }
}

@keyframes slide {
  0%{left: 700px;}
  100%{left: -40px;}

}



@keyframes jump {
    0% { transform: translate(0%, -20%) scale(3, 3); }
    30% {transform: translate(0%, -500%) scale(3, 3);}
    70% { transform: translate(0%, -450%) scale(3, 3); }
    100% { transform: translate(0%, -20%) scale(3, 3); }
}
