*{
  margin: 0;
  padding: 0;
}


body{
  display: grid;
}

canvas{
  grid-column: 2;
  grid-row: 2;
  border: 5px solid;
  background: url('css/Free-Pixel-Art-Hill/PREVIEWS/full.png');
}

div.topBoi{
  grid-row: 1;
  height: 15vh
}
